# .gitignore

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore downloaded dataset
# dataset.txt


# Ignore system-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore models from third run as they are too big for Git
models/third_run/
models/validation/model_checkpoint_9_postlayernorm.pth
models/validation/model_checkpoint_9_prelayernorm.pth
models/last_config/model_checkpoint_1.pth
